@inherits LayoutComponentBase
@using BlazorApp4.Services
@inject IAccountService AccountService
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="HandleLogout">Logga ut</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    [Inject] private AppState AppState { get; set; } = default!;

    private Task HandleLogout()
    {
        AppState.SetLoggedIn(false);
        Navigation.NavigateTo("/home", replace: true);
        return Task.CompletedTask;
    }
}
